<!DOCTYPE html>
<html lang="en">
<head>
    <meta name='viewport' content="width=device-width initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'semi_restful/css/styles.css' %}" media="screen" title="session words" charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="jumbotron">
                    {% for user in current_user %}
                    <h1 class="header">Edit {{user.name}}'s Email</h1>
                </div>
           </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <form action="/users/finaledit/{{user.id}}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="email">Email address</label>
                        <input type="email" class="form-control" name="email" id="Email" aria-describedby="emailHelp" placeholder="Enter email">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </div>
                    <button type="submit" class="btn btn-primary">Update</button>
                </form>
                <br>
                <a href="/users/show/{{user.id}}">Show </a>|<a href="/"> Go Back</a>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>